
@font-face {font-family: "icon";
  src: url('iconfont.eot?t=1499829779613'); /* IE9*/
  src: url('iconfont.eot?t=1499829779613#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499829779613') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499829779613') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499829779613#icon') format('svg'); /* iOS 4.1- */
}

.icon {
  font-family:"icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before { content: "\e600"; }

.icon-edit:before { content: "\e649"; }

.icon-emoji:before { content: "\e64a"; }

.icon-roundclose-fill:before { content: "\e658"; }

.icon-roundclose:before { content: "\e659"; }

.icon-warn-fill:before { content: "\e662"; }

.icon-warn:before { content: "\e663"; }

.icon-comment-fill:before { content: "\e666"; }

.icon-comment:before { content: "\e667"; }

.icon-like-fill:before { content: "\e668"; }

.icon-like:before { content: "\e669"; }

.icon-list:before { content: "\e682"; }

.icon-more:before { content: "\e684"; }

.icon-question-fill:before { content: "\e690"; }

.icon-question:before { content: "\e691"; }

.icon-top:before { content: "\e69e"; }

.icon-more-vertical:before { content: "\e6a5"; }

.icon-delete-fill:before { content: "\e6a6"; }

.icon-qrcode:before { content: "\e6b0"; }

.icon-delete:before { content: "\e6b4"; }

.icon-home:before { content: "\e6bb"; }

.icon-download:before { content: "\e703"; }

.icon-weixin:before { content: "\e7f0"; }

.icon-copy:before { content: "\e706"; }

.icon-countdown:before { content: "\e708"; }

.icon-friend:before { content: "\e726"; }

.icon-cascades:before { content: "\e729"; }

.icon-link:before { content: "\e79b"; }

.icon-people:before { content: "\e735"; }

.icon-upload:before { content: "\e75d"; }

.icon-weibo:before { content: "\e628"; }

.icon-share:before { content: "\e797"; }

.icon-emoji-fill:before { content: "\e78d"; }

.icon-video-play:before { content: "\e634"; }

.icon-setting:before { content: "\e60b"; }

.icon-increase:before { content: "\e795"; }

.icon-decrease:before { content: "\e796"; }

.icon-video:before { content: "\e7a4"; }

.icon-new:before { content: "\e633"; }

.icon-time:before { content: "\e7a6"; }

.icon-calendar:before { content: "\e7af"; }

.icon-statis:before { content: "\e648"; }

.icon-mail:before { content: "\e7bd"; }

.icon-arrow-down:before { content: "\e61d"; }

.icon-arrow-up:before { content: "\e620"; }

.icon-arrow-up-slim:before { content: "\e679"; }

.icon-arrow-down-slim:before { content: "\e67a"; }

.icon-beta:before { content: "\e61c"; }

.icon-collected:before { content: "\e608"; }

.icon-collect:before { content: "\e60c"; }

.icon-delete1:before { content: "\e60d"; }

.icon-fullscreen:before { content: "\e60e"; }

.icon-pause:before { content: "\e60f"; }

.icon-scissors:before { content: "\e610"; }

.icon-upload1:before { content: "\e611"; }

.icon-play:before { content: "\e612"; }

.icon-volumeOff:before { content: "\e613"; }

.icon-volumeOn:before { content: "\e614"; }

.icon-fullscreenExit:before { content: "\e615"; }

.icon-mail1:before { content: "\e616"; }

.icon-close-circle:before { content: "\e617"; }

.icon-loading:before { content: "\e618"; }

.icon-send:before { content: "\e619"; }

.icon-restart:before { content: "\e61a"; }

.icon-warning:before { content: "\e61b"; }

.icon-dropDown:before { content: "\e61e"; }

.icon-dropUp:before { content: "\e61f"; }

.icon-download1:before { content: "\e621"; }

.icon-questionMark:before { content: "\e622"; }

.icon-arrowRight:before { content: "\e623"; }

.icon-arrowLeft:before { content: "\e624"; }

.icon-goTo:before { content: "\e625"; }

.icon-arrowLeftFloat:before { content: "\e626"; }

.icon-arrowRightFloat:before { content: "\e627"; }

.icon-calendar1:before { content: "\e629"; }

.icon-badge_new:before { content: "\e62a"; }

.icon-timer:before { content: "\e62b"; }

.icon-trophy:before { content: "\e62c"; }

.icon-videoFilm:before { content: "\e62d"; }

.icon-trophy-colored:before { content: "\e62e"; }

.icon-check:before { content: "\e62f"; }

.icon-addVideo:before { content: "\e630"; }

.icon-pen:before { content: "\e632"; }

.icon-send2:before { content: "\e631"; }

.icon-upload2:before { content: "\e635"; }

.icon-money:before { content: "\e636"; }

.icon-home1:before { content: "\e637"; }

.icon-stats:before { content: "\e638"; }

.icon-music-note:before { content: "\e639"; }

.icon-copy1:before { content: "\e63a"; }

.icon-add-bold:before { content: "\e63b"; }

.icon-play-circle-outline:before { content: "\e63c"; }

.icon-history:before { content: "\e63d"; }

.icon-close:before { content: "\e63e"; }

.icon-anchorLeft:before { content: "\e63f"; }

.icon-anchorRight:before { content: "\e640"; }

.icon-anchorRight-hover:before { content: "\e641"; }

.icon-anchorLeft-hover:before { content: "\e642"; }

.icon-search:before { content: "\e643"; }

